<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
  integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container" id="main-container">
  <div class="row">
    <div class="w-100 p-3">
      <div class="card">
        <div class="card-body">
          <!-- comment box -->
          <form action="#" class="comment-area-box mb-3" #addForm="ngForm" (ngSubmit)="onAddNote(addForm )">
            <span class="input-icon">
              <textarea id="title" rows="1" class="form-control" placeholder="Write the title..." name="title" ngModel required></textarea>
            </span>
            <span class="input-icon">
              <textarea  id="imageURL" rows="1" class="form-control" placeholder="Image URL... (optional)" name="imageURL" ngModel></textarea>
            </span>
            <span class="input-icon">
              <textarea id="description"  rows="3" class="form-control" placeholder="Write something..." name="description" ngModel required></textarea>
            </span>
            <div class="comment-area-btn">
              <div class="float-end">
                <button type="submit" [disabled]="!addForm.valid" class="btn btn-sm btn-dark waves-effect waves-light">Post</button>
              </div>
            </div>
          </form>
          <!-- end comment box -->

          <!-- Story Box-->
          <div class="border border-light p-2 mb-3" *ngFor="let u of notes">
            <div class="d-flex align-items-start">
              <img class="me-2 avatar-sm rounded-circle" src="{{u.imageURL}}" alt="Generic placeholder image">
              <div class="w-100">
                <h5 class="">{{u?.title}} <small class="text-muted"> {{u?.date | date:'medium' }}</small></h5>
                <div class="">
                  {{u.description}}
                  <br>
                  <a href="#" class="text-muted font-14 d-inline-block mt-2" (click)="onOpenModal(u, 'Edit')"><i
                      class="mdi mdi-pencil"></i> Edit</a>
                  <a href="#" class="text-muted font-14 d-inline-block mt-2 p-1" (click)="onOpenModal(u, 'Delete')"><i
                      class="mdi mdi-delete"></i> Remove</a>
                </div>
              </div>

            </div>
          </div>
        </div> <!-- end card-->

      </div> <!-- end col -->
    </div>
    <!-- end row-->

    <!-- Example Modal -->
    <!-- Edit Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit note</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="#" class="comment-area-box mb-3" #editForm="ngForm" (ngSubmit)="onAddNote(editForm)">
              <span class="input-icon">
                <textarea rows="1" class="form-control" placeholder="Write the title..." name="title" ngModel="{{editNote?.title}}"></textarea>
              </span>
              <span class="input-icon">
                <textarea rows="1" class="form-control" placeholder="Image URL (optional)..." name="imageURL" ngModel="{{editNote?.imageURL}}"></textarea>
              </span>
              <span class="input-icon">
                <textarea rows="3" class="form-control" placeholder="Write something..." name="description" ngModel="{{editNote?.description}}"></textarea>
              </span>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="onEditNote(editForm.value)">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Remove Modal -->
    <div class="modal fade" id="removeNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete note</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <span class="input-icon">
              <p>Are you sure you want to delete the note?</p>
            </span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">No</button>
            <button (click)="onDeleteNote(editNote?.id)" type="button" class="btn btn-primary" data-bs-dismiss="modal" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>

  </div>